/*html {
  height: auto;
}*/

body {
  margin: 0;
  padding: 0;
  font-family: Verdana,Tahoma,"BitStream vera Sans",Arial,Helvetica,sans-serif;
  font-size: 14px;
  color: #ffffff;
}

select {
  width: 150px;
}

ul { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
}

li { 
	margin: 0 0 5px 0; 
	padding: 2px 10px 0 10px;
	border: solid;
}

#info {
    position: absolute;
    right: 20px;
    top: 100px;
    background-color: #594c43;
    border: 1px solid #000000;
    border-radius: 3px;
    padding: 0px;
    max-width: 360px;
    color: #ffffff;
}

#info a {
  text-decoration: none;
  color: #eb823c;
}

#info a:hover{
  color: #ffffff;
  text-decoration: underline;
}

#info h2 {
  color: #eb823c;
  font-size: 24px;
  margin: 0 0 2px 0px;
  font-family: 'Sanchez';
  text-rendering: optimizelegibility;
  font-weight: 500;
  line-height: 1.4em;

}

#info label, p {
  color: #ffffff;
}

#assem {
  background: #8ec214;
}

#sen {
  background: #eb823c;
}

#count {
  background: #6c86ea;
}

#map_canvas {
  height: auto;
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  top:0;
}

.spinner {
	margin: 22px 0 0 0;
}

.ui-icon {
  background-image: url(themes/smoothness/images/ui-icons_ffffff_256x240.png) !important;
}

.info-inner {
  padding: 15px;
}

.input {
  color:#ffffff;
}

.input.col-md-7 {
  padding: 0 0 0 5px;
  max-width: 172px;
}

.input.col-md-6 {
  padding: 0 0 0 5px;
  max-width: 140px;
}

@media (min-width: 992px) {
.details.col-md-5 {
  padding: 0px;
}

}

.health-details {
  display: inline-block;
  width: 260px;
  padding-left: 4px;
  color: #ffffff;
}

#h_address {
  text-align: left;
  padding-top: 2px;
  padding-left: 0px;
}

#senate-note p {
  font-size: 10px;
}

/*.address-container {
  text-align:center;
  margin: auto;
}*/

.details {
  display: inline-block;
  width: 162px;
  line-height: 23px;
}

.filter {
  padding: 6px;
}

.legend {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  /*display: inline-block;*/
  display: none;
  margin-left: 2px;
}

.map-title {
  text-align: center;
  border-bottom: solid #6c86ea 2px;
  margin-bottom: 15px;
}

.hc-title label {
  font-size: 26px;
}

.three {
  min-height: 40px;
}

.eight {
  min-height: 50px;
}

.thirteen {
  min-height: 46px;
}

.fourteen {
  margin-top: 5px;
}


